
@keyframes opacity{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    font-family: "Font";
    
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.nav {
    background-color: rgb(80, 80, 80);
    height: 50px;
    width: 100%;
}

.tabs {
    margin-block-start: 0;
    margin-inline-start: 0;
}

.tabtop {
    list-style: none;
    float: left;
    margin-left: 20px;

    padding-top: 15px;
    padding-bottom: 10px;

}

.mainli {
    float: left;
    list-style: none;
}

.youtube {
    float: right;
    margin-right: 60px;
    margin-top: 15px;
}

.tabtopdeco {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.main {
    
    
    width: calc(100vw - 40px);
    overflow: scroll;
    scrollbar-width: none;

    font-size: 66px;
    opacity: 0;
    animation:opacity 0.5s 0.5s normal 1 ease forwards;
}
.main::-webkit-scrollbar {
    display: none;
}

.user {
    float: left;
}

.avatar {
    width: 300px;
}
.username {
    margin-top: 75px;
    font-size: 78px;
    font-weight: bolder;
}
.userdesc {
    font-size: 56px;
}
.user > li {
    float: left;

    list-style: none;
}
.desc > li {
    list-style: none;
}

.background-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

@font-face {
    font-family: "Font";
    src: url("NIXGONFONTS M 2.0.TTF");
    src: url("../NIXGONFONTS M 2.0.TTF");
}